@{
    ViewBag.Title = "About the application";
}

<h3>@ViewBag.Message</h3>

<h3>This is a movie web app which for user to </h3>
<li>register an account</li>
<li>upload movies</li>
<li>download movies</li>
<li>leave comments</li>
<h3>Tech  </h3>
<li>Asp.net core</li>
<li>AWS BeanStalk</li>
<li>AWS S3</li>
<li>AWS DynamoDB</li>

