@model MongoMovie.Models.Movie
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mongo Movie</title>
</head>
<body>
    <div class="text-center">
        <h1>Welcome to Mongo Movie</h1>
        <img src="~/images/summer-movies.jpg" alt="" class="center-block">
        <p>everything we have</p>
    </div>
</body>
</html>
