@{
    ViewBag.Title = "Reviews";
}

<h3>@ViewBag.Message</h3>

<address>
    <p>
    <strong> Mail us to:</strong><br />
    Mongo Movie
    18 Progress Rd<br />
    Scarbrough, ON, M1S3Z8<br />
        <br />
    <strong> Call us:</strong>
    1-647-384-9888
</p>
</address>

<address>
    <strong>  Email:</strong>   <a href="mailto:reviews@yummymummy.ca">reviews@yummymummy.ca</a><br />
   
</address>