@using Microsoft.AspNetCore.Identity
@using MongoMovie.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="nav navbar-nav navbar-right">
    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Sign In <i class="fas fa-sign-in-alt"></i></a></li>
    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Context.Request.Path">Sign Up <i class="fas fa-user-plus"></i></a></li>
</ul>