@model MongoMovie.Models.Movie

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update/Edit a movie</title>

</head>
<body class="p-2">
    <h3 class="text-center">Update a Movie </h3>
    @Html.Partial("~/Views/Shared/_partialMovieForm.cshtml", Model)
</body>
</html>
