@model MongoMovie.Models.MovieReview

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie Review</title>
 
</head>
<body class="p-2">
    <h3 class="text-center">@ViewBag.Message</h3>
    @Html.Partial("~/Views/Shared/_PartialMovieReviewForm.cshtml", Model)


</body>
    </html>
