@model MongoMovie.Models.AccountViewModels.AccountSummaryModel

<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
        <a asp-action="Index" asp-controller="UserProfile" >
            @Model.Name
        </a>
    </li>
    <li class="nav-item">
        <a class="dropdown-item" asp-action="Index" asp-controller="UserProfile">Profile <i class="fas fa-user-circle"></i></a>
    </li>
    <li class="nav-item">
        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Log out <i class="fas fa-sign-out-alt"></i></a>
    </li>
</ul>
